[2020-09-01 19:04] sullivtr opened #19 "Move full documentation to Terraform Registry instead of cusom docsite"
The current documentation site is a custom one built with docusaurus. It would be preferable to utilize the new Terraform Registry documentation feature as the primary docs provider.

[2020-09-03 21:08] sullivtr commented on #19
PR: https://github.com/sullivtr/terraform-provider-graphql/pull/20

[2020-09-03 21:08] #19 closed

[2020-10-30 20:30] jeveleth opened #23 "Issue: Unable to create resource"
Thanks for creating this module. I'm using it to configure an instance of Hasura Cloud (which uses a GraphQL API). Unfortunately, I'm encountering an issue while creating a simple record representing an image file with a string description.

[code]

My configuration is below:

[code]

The relevant files are:

createMutation.gql file
[code]

[2020-11-02 11:19] miguelaferreira commented on #23
I'm having a similar issue trying to create github organizations. The resource is not created but the provider does not fail the terraform run.

[2020-11-10 22:48] sullivtr commented on #23
Hello. Thank you for reporting this issue. According to the logs, the provider is failing when attempting to compute keys based on what you have provided inside of
[code]

Does your api respond with an object that looks like this:
[code]

The reason for the error: `Unable to compute mutation variable keys: mutation_key not found
graphql_mutation.basic_mutation: Creation complete after 0s [id=34986

[2020-11-10 22:52] sullivtr commented on #23
I should point out that another reason that the provider will fail to compute mutation keys is if the create mutation did not successfully create the resource you intended (or the api itself does not respond with what it created in its response body). Can you also confirm that the Hasura Cloud api call is happening, and that the resource is being created?

[2020-11-10 23:01] sullivtr commented on #23
@miguelaferreira, with respect to error responses from the API. I may need to add better error handling in the query_executior itself with respect to api responses. I am curious if you know which error the github api is returning when the create call is initiated? Posting the mutation you are using may also help me solve your issue as well.

[2020-11-11 00:44] jeveleth commented on #23
@sullivtr Thanks for the response. The response body from Hasura Cloud is actually:
[code]

I've set `compute_from_create = true` and adjusted the mutation keys:
[code]
The resource is not created, though I am able to successfully create the same resource via a curl call to the Hasura Cloud API.

[2020-11-11 01:12] sullivtr commented on #23
Okay. This is helpful. Unfortunately, one of the limitations of the provider that the key computation cannot traverse arrays in the response object (this is noted in the documentation) (Since it wouldnt know which item to grab the key from in the list). If you add a feature request (PRs are welcome also) I can look into making this work, but its a bit tricky since the provider has to implicitly tr

[2020-11-11 05:22] jeveleth commented on #23
Ah. Got it. Thanks! I can open a feature request and/or PR when I get some time.

[2020-11-11 22:36] sullivtr commented on #23
@jeveleth So I spent some time looking into the hasura cloud GQL api. In your case, it may not be the most terraformy thing to use this provider to orchestrate your GQL calls for Hasura Cloud (at least not for creating the images). That is, you may not actually want terraform to be _the source of truth_ for your hasura cloud images. This is a situation where I would write a custom terraform provid

[2020-11-11 23:12] jeveleth commented on #23
Thanks! Sorry, I was using this merely as a proof of concept in an effort
to configure the Hasura Cloud instance itself via TF.

On Wed, Nov 11, 2020 at 14:36 Tyler Sullivan <notifications@github.com>
wrote:

[2020-11-12 00:23] sullivtr commented on #23
No need to apologize. Thanks for submitting the issue. Its got me thinking about how I can improve things potentially. Im mostly just bummed out that I was not able to unblock you at the moment.

[2021-04-19 20:55] bennythejudge opened #28 "Harness SecretText API"
Hi @sullivtr thanks for the provider.
This is not an issue per se but a request for help.
I am trying to use your provider with the Harness GraphQl API for secrets
https://docs.harness.io/article/omnfccj1n0-api-encrypted-text#before_you_begin
In particular I am trying a simple Get Secret by ID, I have the following in `main.tf` and in the dedicated query file.
I have tried many variations of the q

[2021-04-19 21:34] sullivtr commented on #28
Hi @bennythejudge. Thank you for reaching out. It has been a little while since I have used Harness's API (This provider was actually built to serve an automation use-case for harness), but it seems they still continue to return 200 responses with their errors.

So looking at your query, I believe you will need to add args to the query like this (for example):
[code]
Can you try to do something li

[2021-04-19 21:37] sullivtr commented on #28
@bennythejudge This section of the GQL docs might be helpful in constructing your query with args as you are doing: https://graphql.org/learn/queries/#using-variables-inside-fragments

[2021-04-20 07:06] bennythejudge commented on #28
@sullivtr thanks for replying. The query you suggested is one of the many variations I have tried, here is the whole story:

- the `apply`:

[code]

The secretId I am using exists, I can see that when I query the API interactively. I have noticed this bit in the above:

[code]

Is the query not passing a secretId?

- the query:

[code]

and the tf code:

[code]

[2021-04-20 15:37] sullivtr commented on #28
In order to make sure the provider was correctly passing along the `query_variables`, I created this sample template using the free SpaceX GraphQL API:
[code]
This example above operates as expected, passing an `id` of `109` to the query. Therefore, there are a few things that can be the problem.
* Please ensure that when testing interactively in postman or insomnia, use the same exact query you u

[2021-04-21 10:57] bennythejudge commented on #28
Thanks a lot.
The `data`  datasource works, I will add details at the bottom.
Now I am fighting with the `mutation` resource.
One question I have is: the `createSecret` mutation takes in input a `secret` which is a map. How do I do that with the `mutation_variables`?

## working query:

[code]

content of `getSecretTextByName`
[code]

- output

[code]

## mutation

[code]

[code]

The mutation wor

[2021-04-21 15:39] sullivtr commented on #28
This is a great question, @bennythejudge. Due to the way terraform variables work, it is not really possible to pass in the entire object as a variable into a mutation (in this case, a Harness `secret`). So you have to construct the mutation with the object inline on the mutation, passing in variables for specific fields.

Here is an example of doing this:
[code]
Your resource's mutation variables

[2021-04-21 17:43] sullivtr commented on #23
@jeveleth @miguelaferreira I am reopening this issue now. I have started working on a solution to allow computations from nested objects. I have a working example already, but will need to clean things up/do more testing before cutting a PR. Stay tuned!

[2021-04-21 17:46] sullivtr commented on #23
Here is my proposed solution, so feel free to give feedback:

You will be able to locate keys this way:
[code]
As well as multi nested:
[code]

[2021-04-21 19:31] sullivtr commented on #23
Related PR: https://github.com/sullivtr/terraform-provider-graphql/pull/29

[2021-04-26 21:26] sullivtr commented on #28
I believe I have answered all of your questions, and have provided enough information for you to move forward using this provider. Therefore, I am closing this issue. Feel free to open a new issue if you continue to need support.

[2021-04-26 21:26] #28 closed

[2021-05-25 18:16] ajbouh commented on #23
Is there a reason that the terraform operation still completes successfully after we see `Unable to compute mutation variable keys: mutation_key not found` in the logs?

It seems like this should be a fatal error, but perhaps I'm missing something?

[2021-05-25 18:24] sullivtr commented on #23
@ajbouh Thank you for pointing this out. It appears to have been an oversight with logging. I'm going to file a separate issue related to this bug, and get it fixed when I have time (PRs are also welcome). This line of code here just needs to return an error diagnositic: https://github.com/sullivtr/terraform-provider-graphql/blob/master/graphql/resource_graphql_mutation.go#L200

[2021-05-25 18:26] sullivtr opened #33 "Compute mutation key failure should return an error"
This line of code simply logs out the error, but does not return an error diagnostic which leads to a false success of the provider's run: https://github.com/sullivtr/terraform-provider-graphql/blob/master/graphql/resource_graphql_mutation.go#L200

[2021-05-25 18:27] sullivtr commented on #23
@ajbouh Thank you for pointing this out. It appears to have been an oversight with logging. I'm going to file a separate issue related to this bug, and get it fixed when I have time (PRs are also welcome). This line of code here just needs to return an error diagnositic: https://github.com/sullivtr/terraform-provider-graphql/blob/master/graphql/resource_graphql_mutation.go#L200

[2021-05-25 18:31] ajbouh commented on #23
I'm seeing this error and struggling to identify which key is missing. Perhaps the failure message could provide enough info to debug what's going on.

Logging the response at DEBUG level seems like a good thing along these lines.

Also seems like *any* error in the graphql response should be fatal, what do you think?

[2021-05-25 18:32] ajbouh commented on #33
I'm seeing this error and struggling to identify which key is missing. Perhaps the failure message could provide enough info to debug what's going on.

Logging the response at DEBUG level seems like a good thing along these lines.

Also seems like *any* error in the graphql response should be fatal, what do you think?

[2021-05-25 18:42] robwolff3 opened #34 "mutation_variables map(string)"
Hey, Love the provider you've made here. Super useful for the graph api I'm trying to manage resources for.

One issue I think I'm running into. When trying to pass various variable types through to my graphql mutation I seem to be getting stuck on the variable type lists of strings. I'm guessing that is because the mutation_variables block is a map (of strings) and a list cannot be passed as a si

[2021-05-25 18:51] sullivtr commented on #34
Hi @robwolff3. Thanks for asking about this. Due to the way terraform variables work, it is not possible to pass complex objects as the mutation variables. [THIS RESPONSE](https://github.com/sullivtr/terraform-provider-graphql/issues/28#issuecomment-824161468) outlines how one can go about passing values for more complex data structures.

Now, this becomes a little tricky if the API you are using

[2021-05-25 18:58] sullivtr commented on #33
Are there other errors you are experiencing that do not return an error correctly? As of now, this is the only error I see that is not actually returning the error correctly, and just eating it up. As for the other errors, they result in a diagnostic being returned to the runner, which is the appropriate way for the provider to error out. That is to say that in cases where errors are fatal, the pr

[2021-05-25 21:01] ajbouh commented on #33
I just confirmed that my create operation itself is actually failing, but the error is being swallowed somewhere. I believe this is contributing the mutation key failure I'm seeing.

[2021-05-25 21:05] ajbouh commented on #33
Failures in delete also seem to be swallowed.

[2021-05-25 21:21] sullivtr commented on #33
Do you happen to know what status code is being returned on the API request you are using? I have seen some GraphQL APIs unfortunately return 200s for all responses, including errors, which causes the error to be invisible to the provider (The provider's client code is generic, so its not able to imply status on behalf of the API if it does not return a standard err code).

[2021-05-25 21:28] ajbouh commented on #33
They all return status 200. I believe the graphql standard specifies that the `"errors"` field on the response object (a sibling to `"data"`) should be authoritative.

So if there's *ever* a non-empty `"errors"` array then perhaps the default behavior should be to fail?

[2021-05-25 21:47] sullivtr commented on #33
Thank you for pointing this out. I honestly was not sure about standards in GQL errors when I wrote this provider. That sounds correct. nonetheless. So for this bugfix, I will fix the error response for mutation key lookup failures, as well as enhance the error handling in the query executor. I am not sure when I will get to this, but hopefully sometime this week I will find time.

[2021-05-25 21:58] ajbouh commented on #34
I'm also facing this. One option might be to support passing in a JSON string and then parse the JSON before using the values. Here's an example query I'm trying to use for my create mutation over on `https://api.fly.io/graphql`:

[code]

As you can see I need to specify `$count` as an integer.

I also need to pass in lists for `$regions`, `$secrets`, and `$volumes`.

Trying to inline everything i

[2021-05-26 01:31] robwolff3 commented on #34
Here is my situation trying to pass multiple account numbers into my query. How would you inline @ajbouh ?

main.tf
[code]

variables.tf
[code]

Create Mutation
[code]

[2021-05-26 01:46] ajbouh commented on #34
@robwolff3 use terraform string interpolation and make the number value part of the mutation query itself.

[2021-05-26 02:01] sullivtr commented on #34
So after giving this some thought, I believe I can make it possible to do something like this:

[code]
And then have the query executor unmarshal the json into an object before passing it down to the query.
You would set the value to a string, but have to hcl escape the string quotes inside the array/object.

If I can get something working, than the Terraform jsonencode function will be handy for

[2021-05-27 03:59] sullivtr commented on #34
I've made some progress on this. My current solution should work out. I expect to have a PR ready before the end of this weekend. I just need to do extensive testing to ensure backward compat, and no breaking changes. Stay tuned, and thanks again for the feedback.

[2021-05-28 20:41] sullivtr commented on #34
@ajbouh @robwolff3 A PR is up for this. I still need to do some manual testing locally to verify a few things, but ultimately this will result in a major version upgrade due to some behavioral changes being breaking

[2021-05-28 21:59] robwolff3 opened #36 "Questions on compute_mutation_keys and variabes"
Hey guys I'm back with another question about a setup I have here.

This resource I'm creating in our graphql api is tracked by a ID called srn and the value for srn is generated at the time of resource creation. When I run the create mutation I get the following output.

[code]

And here is my `main.tf`

[code]

In order to read or delete this resource I need to reference it by the srn generated

[2021-05-28 22:18] sullivtr commented on #36
@robwolff3 This is a great question. I have a PR to make this possible open here -> https://github.com/sullivtr/terraform-provider-graphql/pull/29

As of right now (version 1.4.6) the provider is not able to find a key within a list of items.

I originally chose not to make this possible because it can be very dangerous to reference state that can change easily such as items in an array. Even afte

[2021-05-28 22:21] sullivtr commented on #36
To be more clear with examples, if the response looked like this:
[code]

[2021-05-28 22:22] sullivtr commented on #36
@robwolff3  I am actually going to close this issue now since there is already an open issue related to this feature [HERE](https://github.com/sullivtr/terraform-provider-graphql/issues/23)

[2021-05-28 22:22] #36 closed

[2021-05-28 22:28] #23 closed

[2021-05-28 22:31] sullivtr commented on #36
@robwolff3 I changed my mind, and got the PR merged just now. A new version will be released soon with v1.5.0. You can upgrade to that version and be able to compute the SRN value as follows:

[code]

[2021-05-28 22:34] robwolff3 commented on #36
That is awesome. Thank you so much!

[2021-05-29 00:02] robwolff-sonrai commented on #36
@sullivtr Tried out the PR and the create and delete are working great. In my example am I able to pass the srn ID from the create mutation in as the variable `$srn` under the read_query_variables?

[2021-05-29 01:11] sullivtr commented on #36
@robwolff-sonrai Great question. Yes you can.

Any key:values computed from the `compute_mutation_keys` map can be used inside of your graphql queries. So take this example:

You are computing the value of `srn` like this:
[code]

Then your reader graphql query can look like this:
[code]

And then since `srn` is the only variable you want to pass to your reader query, you can set `read_query_varia

[2021-05-29 01:14] sullivtr commented on #36
*NOTE* on the above comment: You MUST have `compute_from_create` set to true in order for your reader query to be able to use a computed variable in its arguments.

[2021-06-03 16:26] robwolff3 opened #37 "Feature Request - Destroy and replace instead of update"
Hey sullivtr,

I'm back with another request. In the graphql API I am working with some resources don't that have an update mutation or the update mutation is not very idempotent. Would it be possible to add a true or false input that forces the resource to be destroyed and replaced instead of updated?

Thanks!

P.S. PR-29 has been working great for my implementation and I'm looking forward to PR-

[2021-06-07 18:07] sullivtr commented on #37
@robwolff3 🤔  I suppose it wouldn't hurt to add a `forceReplace` option. At the moment I can't think of any reason not to support this. Let me add it in my tasks for this project and get something worked out.

[2021-06-07 19:56] sullivtr commented on #34
@ajbouh @robwolff3 I just cut a pre-release version for these fixes on `v2.0.0-rc`. Please give these changes a go, and let me know how things work out, and be sure to report any issues you run into. Thanks!
Please note that there may be some backward incompatibility depending on how you structured your mutation variables before. You can find updated documentation for these changes here: https://g

[2021-06-08 16:26] robwolff-sonrai commented on #34
In my initial testing this new feature is working great!

[2021-08-02 15:40] #34 closed

[2021-08-16 19:13] robwolff3 commented on #37
Hey @sullivtr,

Any more thoughts on this feature? I know we ran into the "terraform state processor does not expect a change in computed values and other parts of the state" issue before.

Another idea I had, would this be possible with two versions of the graphql_mutation resource, one that always forces a new resource and another graphql_mutation resource that never forces a new resource?

[2021-08-17 20:28] sullivtr commented on #37
Hey @robwolff3, I have dropped the ball in getting this done. I tested a couple of different solutions but each had its own set of adverse bugs that would be very undesirable. I am am still evaluating one other option. (My free time has been restricted the past few months, so apologies for the delay).

[2021-08-17 22:41] sullivtr commented on #33
@ajbouh I have finally gotten around to handling these errors properly. Soon v2.1.0 will be available which includes fixes that now process graphql server errors appropriately. Please try it out, and also feel free to ask any other questions you may have, or report any issues :)

[2021-08-17 22:41] #33 closed

[2021-08-17 22:49] ajbouh commented on #33
Is there a preview version I can try?

[2021-08-17 23:07] sullivtr commented on #33
@ajbouh
I should be more clear, [v2.1.0](https://github.com/sullivtr/terraform-provider-graphql/releases/tag/v2.1.0) is now available to use.

[2021-08-18 17:07] sullivtr commented on #37
@robwolff3 I believe I have a working solution. Doing some more thorough testing to ensure it works without side effects. Ill keep you posted, and link the PR when it is ready.

[2021-08-18 17:12] robwolff3 commented on #37
That is exciting 😀 can't wait to test it out. Thank you!

[2021-08-19 18:42] sullivtr commented on #37
@robwolff3 [v2.2.0](https://github.com/sullivtr/terraform-provider-graphql/releases/tag/v2.2.0) is now available which includes a boolean field `force_replace`. If set to true, the provider's update lifecycle hook will execute a delete hook, and then recreate the resource using the create mutation.

[2021-08-19 18:42] #37 closed

[2021-08-19 21:28] robwolff3 commented on #37
🤩 I will test it out as soon as I get back from vacation next week. Thank you!!!

[2021-08-24 23:22] ajbouh opened #47 "Under what circumstances does an "update" get triggered? (server state drift reconciliation)"
I have two uses of this provider and from studying the logs I think both of them are configured wrong. One never seems to run the update mutation (even if it should) and the other runs it every time (even if it shouldn't).

I've gone over the documentation and the source code but I'm still having trouble understanding the logic that determines if an update is necessary.

Before I looked at the cod

[2021-08-26 21:36] robwolff3 opened #48 "force_replace doesnt update computed_update_variables or query_response"
Just updated my project to utilize the much anticipated force_replace. In my initial testing it did in fact delete and replace the graphql resource as expected. However I did notice in the terraform output that update computed_update_variables and query_response still reflected the old resource.

I will email over the logging of this instance.

[2021-08-27 19:17] robwolff3 opened #49 "What to do after a failed terraform apply?"
A couple of times Ive executed terraform apply has resulted in an error because of a misconfiguration in my template or receiving an error from my graphql api. Once that has happened what do you do to move forward from the issue? If I run terraform apply or terraform destroy I get the same error. Ive been able to fix it so far by removing the faulty resource from the state file but that seems like

[2021-08-30 17:59] robwolff3 commented on #49
I was able to identify another piece that was contributing to my issues here. A couple of graphql_mutations I had written did not have read_queries. After removing those things are running smoother.

[2021-09-07 18:34] sullivtr commented on #49
@robwolff3 It seems you have solved this issue. I do not think there is anything else I can help with here, so I am going to close this issue. Feel free to respond back if that is not the case. :)

[2021-09-07 18:34] #49 closed

[2021-09-30 20:00] robwolff3 opened #52 "Question on imporing a resource"
Looking at the Terraform import command usage: `terraform import [options] ADDRESS ID` the one thing I I'm not sure about is the ID field. In the Terraform documentation they give an example of an AWS EC2 instance and the id in that case would be the instance id from AWS and they say "Please reference the provider documentation for details on the ID format."

With a resource deployed using this pr

[2021-10-18 15:18] #48 closed

[2021-11-23 14:35] QuingKhaos commented on #47
Hi @sullivtr, another feedback from using a bunch of different providers on my side.

With Infrastructure as Code, the Terraform manifest should be the only source of truth. One advantage of using Terraform (compared to e.g. CloudFormation on AWS) is that it is able to detect drift/changes made outside of Terraform and reconcile them back to the desired state in the manifests.

Speaking, your prov

[2021-11-23 14:47] QuingKhaos commented on #52
@sullivtr What do you think about having something like `id_attribute` to configure the resources ID set in the state? And or additionally an importer function which would handle the ID supplied on the import command then?

Thinking for now an importer function accepting the expected create mutation response to compute the CRC-32 checksum, set the ID and then execute the read query could also be v

[2021-12-15 02:11] MDanialSaleem opened #55 "does not work on ARM architectures (apple's M1 for example)"
Hi,

Thanks for the brilliant work on this.

But it gives me this error when I try running on Apple M1 chip:

[code]

I don't have a lot of experience building terraform providers I'd be glad to put up a PR for this if you could provide some pointers.

[2021-12-16 10:12] samm-git opened #56 "Possibly wrong documentation"
Readme shows possibly wrong example of the read query:

[code]

This seems to be copypaste from delete mutation instead.

[2021-12-21 16:33] sullivtr commented on #52
@QuingKhaos The `id_attribute` route is what I was thinking is most sound. My only reservation about this now is backward compatibility. I have to ensure the IDs do not change for existing users after an upgrade. I'm thinking we could have an optional `id_attribute` going forward that will be used to get the resource's ID from the response and set the ID in state using its value, but if the `id_at

[2021-12-21 16:40] sullivtr commented on #55
@MDanialSaleem Thank you for submitting this issue. I believe the only thing we need to do to build for M1 at this point is upgrade the go version to at least 1.16 (currently 1.12, so its overdue for an upgrade). Once we do that, it should begin building for darwin/arm64.

[2021-12-21 16:42] sullivtr commented on #56
@samm-git Indeed there is a typo. `deleteUser` should just be `getUser` for the example. Ill try to sneak this typo fix into the next release.

[2021-12-23 17:26] sullivtr commented on #55
@MDanialSaleem I plan to get this working in the next release. We are working on a new feature at the moment, so as soon as that is all ready, Ill be cutting a new release that should make the m1 builds work.

[2021-12-26 18:01] sullivtr commented on #56
This documentation has been updated as part of the v2.4.0 release

[2021-12-26 18:01] #56 closed

[2021-12-26 18:03] sullivtr commented on #55
@MDanialSaleem The `v2.4.0` release includes an M1 (darwin/arm64) compatible build. Please try using version 2.4.0 of the provider and let me know if you have any issues.

[2021-12-26 18:03] #55 closed

[2021-12-26 18:34] sullivtr commented on #47
@QuingKhaos

First, I 100% agree that the manifest should be the source of truth, and the way this provider behaves right now is to assume the manifest is always the source of truth. I do plan to make it possible to override server state with this provider (as it should be able to do), but I want to make it clear that its rather reckless to allow outside sources to control the state of the resourc

[2021-12-28 20:21] sullivtr commented on #47
Hello everyone, I have created a PR (https://github.com/sullivtr/terraform-provider-graphql/pull/61) that provides a fix for the herein issue. It ensures the provider always checks a diff between TF state and server state of a given resource. If drift is detected, the provider will emit a warning during the plan lifecycle letting you know there is drift, as well as a display of the diff it found.

[2021-12-28 21:30] sullivtr commented on #47
https://github.com/sullivtr/terraform-provider-graphql/pull/61#issuecomment-1002284960

After testing some edge cases manually, I have determined that this solution does not provide an acceptable user-experience (introduction of nuanced bugs is unavoidable).

There are a few aspects of this provider that make it very challenging and nearly impossible for it to reconcile the state of a resource whe

[2021-12-28 23:35] ajbouh commented on #47
First, thanks for investing so much time in figuring this out!

I understand the proper ways to use IAC but I'd like to underscore that the ideal is essentially impossible to achieve in practice.

This especially true when dealing with third party graphql APIs.

Take, for example, the case of an upstream API that has a bug in it. Once the upstream API is fixed, the "right" thing to do here would b

[2021-12-29 00:25] sullivtr commented on #47
@ajbouh in a quest to see how this is handled in the restAPI provider, it seems they have the same issue, for much of the same reason I have explained in previous comments (issue here: https://github.com/Mastercard/terraform-provider-restapi/issues/81).

While the correct behavior is what you see and expect in most providers, this and other providers like it that offer a generic terraform wrapper

[2021-12-29 01:00] sullivtr commented on #47
Ive thought of one more potential solution. Its a bit tricky, but Ill report back here if it works out

[2021-12-29 09:02] MDanialSaleem commented on #55
@sullivtr , works like a charm, thank you so much for the quick resolution.

[2021-12-29 18:14] sullivtr commented on #47
@ajbouh you will be excited to know that my latest solution is looking promising so far. I essentially create a map between the keys in the query response object, and the values defined by your mutation_variables. The tricky part was making it capable of fuzzy finding the correct key to map when the value is nested in an object of the query response. For example, with my TODO e2e test, we have `us

[2021-12-29 18:50] sullivtr commented on #47
PR: https://github.com/sullivtr/terraform-provider-graphql/pull/62/files

[2021-12-29 19:21] ajbouh commented on #47
I think it's alright to demand that the user provide this mapping explicitly. What are your thoughts?

[2021-12-29 19:38] sullivtr commented on #47
In this particular case, my solution in that PR can reliably and accurately build the map. There is one particular edge case that could cause a break, but it's rather nuanced and unlikely (and even if it does occur, will likely not be problematic due to how this works).

Requiring user input on this would not be a _completely breaking_ change, but is cumbersome enough that I didn't want to go that

[2022-01-12 16:20] #47 closed

[2022-01-12 16:27] sullivtr commented on #47
The fix for this is available in v.2.5.0

[2022-01-27 09:57] GertVil opened #64 "After successful apply, a new apply triggers another change"
I've been using the following terraform module: https://gitlab.com/nagyv-gitlab/kubernetes-agent-terraform-module. This has been working fine with 2.4.0 of the graphql provider, however whenever I upgraded to 2.5.0 the plan / apply show the following changes (this also fails on a "Clean" apply starting from 2.5.0 so not upgrading):
[code]
When applying these the following error occurs:
[code]
It a

[2022-01-28 22:20] sullivtr commented on #64
Hi @GertVil Thank you for reporting this issue. I am investigating the issue and I will report back here when I figure out what is going on.

[2022-01-28 22:33] sullivtr commented on #64
@GertVil I think I see the problem. This is definitely a problem with the provider. I'll spend some time debugging this. `v2.5.0` introduced a rather tricky mechanism for keep track of server state in a generic way, and unfortunately it is failing for your use case, so I will likely need to make some adjustments.

For now, `v2.4.0` has all of the latest features aside from the aforementioned chang

[2022-01-28 22:39] sullivtr commented on #64
@GertVil if you have time, can you upgrade to version v.2.5.0 and tell me what the output of the `query_response_input_key_map` property is on one of your resources? This will help me gain insight into ensuring I have proper fix for your issue.

[2022-01-28 22:55] sullivtr commented on #64
@GertVil Apologies for the lot of messages as I discover more about this issue.

For v2.5.0 you have to ensure that your `read_query` _also_ returns values that you set on `mutation_variables`. The reason you see the `cluster_agent` `project path` variable disappear is because you do not return it on your read query for `cluster_agent`:

https://gitlab.com/nagyv-gitlab/kubernetes-agent-terraform-m

[2022-02-17 15:46] sullivtr commented on #64
@GertVil I have not heard back from you on this issue. I plan to close the issue by the end of this week due to inactivity. Please let me know if this is still an issue for you. I want to make this provider as reliable as possible, and work for as many use-cases as possible. :)

[2022-02-17 16:37] GertVil commented on #64
Sorry for the late reply:
Terraform version: 0.14.8

[2022-02-18 22:56] sullivtr commented on #64
@GertVil sure. So on the line of code I linked, you just need to add it to the graphql response like this:

[code]
notice how I now also return the `path` property on the read_query.

As a simpler example, say I have mutation variables that look like this:

[code]

Then I would need to ensure my read query asks for the properties that would return the respective values for each of those mutation_v

[2022-02-22 08:35] GertVil commented on #64
I managed to make it work a bit more be renaming the references to project_path to fullPath otherwise the fuzzy wouldn't match but then the issue continues with
[code]
I did add the description and name so so:
[code]
but I'm guessing the fuzzyness doesn't match here too.
Tried doing the same trick by renaming the fields but it still doesn't match
[code]
Maybe there's a way we could provide hints s

[2022-02-22 16:46] sullivtr commented on #64
@GertVil Is there any way you can show me what the actual graphql read query responds with? (My example use of `project_path` was mostly just a guess, since I dont know the structure of the api response).

I took a look over the API for Gitlab, and I now realize that the `tokens[edges[nodes[]]]` is very deeply nested in the response.

It seems you are ultimately trying to get the name and descript

[2022-02-22 18:47] sullivtr commented on #64
@GertVil Great news, I was actually able to whip up a fix for this that should work for your current solution. I will need time to do a PR, write some more automated tests, and verify the solution. Once I have done all of that, Ill will cut a new release that should have you working on the latest version.

stay tuned.

[2022-03-03 23:17] sullivtr commented on #64
Related PR: https://github.com/sullivtr/terraform-provider-graphql/pull/67

[2022-03-03 23:24] sullivtr commented on #64
A fix/enhancement PR was merged today. `v2.5.1` will be automatically released within the next half hour, which should fix the issue presented here by ensuring that data values nested in array objects in the query response are properly represented by the server-state reconciler.

[2022-03-03 23:31] sullivtr commented on #64
@GertVil Please upgrade to `v2.5.1` and let me know if you experience any issues. I'm happy to help

[2022-03-04 16:36] nadsat commented on #64
Hi @sullivtr , we still have the same behavior with v2.5.1
[code]

this is an extract from the plan

[code]

[2022-03-04 16:56] nadsat commented on #64
in our case the definitions are based on
https://gitlab.com/gitops-demo/infra/kas-gcp/-/blob/master/kas-agent.tf

[2022-03-04 18:37] sullivtr commented on #64
@nadsat Can you send me documentation for the `clusterAgent()` query that is being made in this block here: https://gitlab.com/gitops-demo/infra/kas-gcp/-/blob/master/gitlab-agent.tf#L89

Im having trouble finding it in the gitlab documentation. I need to gain a better understanding of that that is returning exactly.

With that said, as I mentioned before, its important to ensure that the `read_qu

[2022-03-04 20:30] nadsat commented on #64
@sullivtr  I'm not sure if this is the documentation you asked for
https://docs.gitlab.com/14.8/ee/api/graphql/reference/index.html#projectclusteragent

[2022-03-04 20:54] sullivtr commented on #64
@nadsat is it possible that the cluster agent's ID changes at any time?

[2022-03-04 21:00] sullivtr commented on #64
I am curious to see what your plan shows if you run it again. If it shows `~ "agent_id"    = "" -> "gid://gitlab/Clusters::Agent/8961"` during the preview, that tells me that the ID did in fact mutate during the `cluster_agent` resource's update.

[2022-03-05 01:46] nadsat commented on #64
We recreated the cluster from scratch, we run the plan twice and it worked

@sullivtr  if it helps this was part of the plan the first time

[code]

and the second time

[code]

it seems our problem was might be related with the terraform cache,

@sullivtr thaks for your help

[2022-03-07 18:41] sullivtr commented on #64
Interesting 🤔  @nadsat please let me know if you experience more related issues. Feel free to reopen this issue if that occurs.

[2022-03-29 12:56] jsbnr opened #70 "Apply after create always shows changes since 2.5.0"
Hi. I really like your provider but I'm having trouble with the update always seeing changes after inital apply. With version 2.4.0 this all works as expected but in 2.5.0+ this fails consistently.

**What  I expect:**
I expect that after the first apply (which creates the resource) a subsequent apply would see no changes. Only when changing the payload input (the variable 'dashboard' in my case)

[2022-04-03 17:59] sullivtr commented on #70
Hey @jsbnr. Thanks for submitting this issue. I’ll be looking into this. I’m currently on vacation without a laptop but will help you address it when I return.
Thank you for your patience 😊

[2022-04-03 18:17] sullivtr commented on #70
Just thought of one thing in the meantime worth trying:

the provider actually compares the mutation variable as a json encoded blob before diving into individual values, so as long as the dashboard object is fully represented in the read query response with all of the properties you set in the json payload, it _should_ be able to succeed in finding it. For example, right now you only return the n

[2022-04-04 10:31] jsbnr commented on #70
Thanks for looking at this. I tried changing the read to return all the fields, but I cant seem to get the read to be the same shape as the create mutation. Its also not really scaleable as the source JSON is user specified and may containt different fields from those expected and the order of those fields might be rreturned differently too. Ideally i want to treat the whole JSON as a blob rather

[2022-04-06 19:25] sullivtr commented on #70
So this is _technically_ what it's doing now. The problem is that it needs a source to compare against. In the past (< v2.4.0) it was comparing against its own state, which led to a more dangerous problem of the provider not detecting remote state drift. Therefore, in v2.5.0 I updated the provider to compare changes with the remote state of a resource (which is the correct behavior which I avoided

[2022-04-08 12:08] jsbnr commented on #70
Hmm a tough one :) A flag sounds like a good solution. For your reference I have published the working version of the terraform using v2.4.0 here: https://github.com/jsbnr/nr-terraform-graphql-json-dashboards

[2022-05-20 10:03] jsbnr commented on #70
@sullivtr Just wondering if you had any more thoughts on providing configuraiton option to allow remote state diff to be ignored?

[2022-08-22 11:41] indrajeet101 opened #73 "Question regarding update mutation"
Hi,
I am trying to use this provider to perform update operation only. The code is as follows:-

**main.tf**
[code]
**update_mutation.gql**

[code]
For create and delete I have kept the files blank as for my use case only update mutation is required. Can you please help me in understanding if this will work as I am getting this error  **Error: graphql server error: No query document supplied**.
I

[2022-08-30 15:39] sullivtr commented on #73
Hello @indrajeet101,

So this is not going to work as you expect. Terraform aims to manage the _full_ CRUD lifecycle of a resource. This provider expects that pattern to be followed.
If you are unable to manage the full lifecycle of the resource using terraform, than you really should not be using terraform (you _can_, but this will lead to a lot of headaches and confusion in the future for yourse

[2022-09-07 19:59] sullivtr commented on #73
Im going to close this issue since there is not anything I can fix on your behalf other than the provided suggestion. Feel free to comment again if you have further questions

[2022-09-07 19:59] #73 closed

[2022-09-14 19:28] sullivtr commented on #70
@jsbnr I am actually beginning work on this today. Ive been eyeing this, honestly debating if I should support the option of turning off the remote state reconciler, as doing so introduces nuance to the provider Im not sure I want to support longer term. With that said, Im going to take a crack at it and see if its trivial enough not to cause problems.

[2022-09-14 23:42] sullivtr commented on #70
Ok @jsbnr I have just release `v2.5.2` of the provider, which now offers a new input, `enable_remote_state_verification`.

Set `enable_remote_state_verification = false` to disable the reconciling logic. This should result in the same behavior we see in >= v2.4.0

[2022-09-14 23:42] #70 closed

[2022-09-15 10:54] jsbnr commented on #70
Thanks so much for this @sullivtr.  Im seeing some odd behaviour still with that flag, ill raise as a new issue though.

[2022-09-15 11:44] jsbnr opened #75 "Recurring query_response_input_key_map changes on apply"
Ive tried upgrading to v2.5.2 and setting `enable_remote_state_verification = false` as recommended in issue #70 . It appears to work as intend (thanks, really appreciate the effort here!). However, every time I run an apply with no changes I get the following single update change in the plan appearing:

[code]

Im not sure whats causing this to continually appear as a change?

Ive updated my test

[2022-09-15 14:08] sullivtr commented on #75
Hey there. Sorry to hear that. I will look into this today. I thought I sufficiently wrapped that property so it won’t do that, but I must have missed something nuanced. Should be an easy fix tho.

Appreciate the feedback!

[2022-09-15 15:11] sullivtr commented on #75
@jsbnr So after looking at the code, there shouldnt be anything actually changing/modifying the value of that attribute when you have `enable_remote_state_verification = false`.

If possible, can you look at your terraform state and tell me what value its actually setting for that `query_response_input_key_map` attribute?

There is one small optimization I can make that might also fix this bug, bu

[2022-09-15 15:17] jsbnr commented on #75
In the state fiel  it has a value of simply `null` both before and after an apply.

[2022-09-15 18:31] sullivtr commented on #75
okay, I think I figured it out. Ill have a PR up soon, and probably get it released this afternoon sometime.

[2022-09-15 19:12] sullivtr commented on #75
This fix has been merged. `v2.5.3` should be available within 30 minutes or so (however long it takes for the release automation to run, and for terraform registry to pick it up.

[2022-09-15 19:12] #75 closed

[2022-09-16 12:18] jsbnr commented on #75
Works a treat! thanks @sullivtr much appreciated

[2022-10-12 13:49] davidhrbac opened #77 "Not able to parse output"
I'm trying to get mutation with resource. It seems to me, that automatic mapping is not working OK. How can I access return values?

[code]

Return values are like:

[code]

Debug log reads:

[code]

Terraform.tfstate:

[code]

[2022-11-01 03:57] sullivtr commented on #77
Hello there. I will take a look at this tomorrow.  I missed the notification for this issue so did not see it until now. Thank you for you patience.

[2022-11-01 04:07] sullivtr commented on #77
Hey just after a quick glance, I see that you are using compute_from_create = true

However, the response you are expecting to be mapped comes from the read response. Can you set compute_from_create to false and try again?

[2022-11-10 15:31] dominik-horb-umg opened #78 "Apply succeeds without error although 401 Status"
Due to a misconfiguration on our side we received a 401 Status on our GraphQL API requests when running `terraform apply` with this provider. Even though this happened, a success status of the apply was reported and no errors were shown. We were only able to see the problem, when running with `TF_LOG=DEBUG`. It would be great if any errors of the API calls could be reported by the provider.

[2022-11-16 01:57] sullivtr commented on #78
Can you show me what the total response was from your api? This provider checks the standard error params returned for graphql APIs, and so the error parameter should have the error present in the graphql response. If the API you are using is not using that protocol, that is the reason this provider did not pick up the error. I can probably work in some other status code checks but it’s most commo

[2022-11-16 09:38] dominik-horb-umg commented on #78
Thanks for your response and sorry for the lack of debuggable information in the initial report. I sadly cannot reproduce the exact problem right now and don't have the logs anymore. I saw the problem when interacting with the [Shopify GraphQL API](https://shopify.dev/api/admin-graphql#status_and_error_codes) and I believe it was happening only during the read query of the first apply and on the s

[2022-11-16 11:19] davidhrbac commented on #77
OK, compute_from_create = false

As you can see there are 2 VMs created:
"id": "VmlydHVhbEhvc3ROb2RlOjE3NTgy"
"id": "VmlydHVhbEhvc3ROb2RlOjE3NTg1",

terraform.tfstate has:
[code]
But vmids are missing.

[code]

[code]

[2022-11-16 15:47] sullivtr commented on #77
Ok, after looking more closely at your reply, I see that you do expect to pass the `vmid` to your _read query_, and so using `comput_from_create = true` is what you want (I was confused by your original post). However, the problem you are seeing is that the response from your create mutation is not returning all of the data that you expect to be present. So there are a couple of modifications you

[2022-11-16 15:50] sullivtr commented on #77
Also, can you tell me which terraform version you are using?

[2022-11-16 15:51] sullivtr commented on #78
No problem. I appreciate the report, as it lets me know that there are some nuanced, even sometimes non-idiomatic, use-cases I need to handle for. For the most part, this is working so I will close this issue and whenever I make my next release I will also add some additional status code checks to handle APIs that operate more like traditional http APIs. Thanks again!

[2022-11-16 15:51] #78 closed